---
import { cn } from '../../../utils/twMerge'
import DesktopNav from '../molecules/DesktopNav.tsx'
import { getLangFromUrl } from '../../i18n/utils'
import LanguageNav from '../molecules/LanguageNav.astro'
const { isMain } = Astro.props
const lang = getLangFromUrl(Astro.url)
const currentPath = Astro.url.pathname
---

<header
	class={cn(
		isMain
			? 'bg-custom-green/0'
			: 'bg-linear-65 from-custom-green to-custom-blue',
		'fixed h-25 top-0 left-0 w-full py-14 z-20 '
	)}
>
	<div
		class='flex justify-between items-center w-full h-full max-w-screen-2xl mx-auto'
	>
		<a href={`/${lang}/`} '><img src='/images/logo3.svg' class='h-[75px]' /></a>
		<div class='flex items-center justify-end gap-10'>
			<LanguageNav isMain={isMain} lang={lang} />
			<DesktopNav
				client:load
				currentPath={currentPath}
				isMain={isMain}
				lang={lang}
			/>
		</div>
	</div>
</header>
